<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\AuthServer.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      
      <!-- ─── 修正 .NET 9/10 MapStaticAssets 在 IIS 上的 404 / Brotli 預壓縮佈局失效問題 ─── -->
      <staticContent>
        <remove fileExtension=".br" />
        <mimeMap fileExtension=".br" mimeType="application/brotli" />
        <remove fileExtension=".gz" />
        <mimeMap fileExtension=".gz" mimeType="application/x-gzip" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
